
<div class="panel panel-default">
    <div class="panel-heading" style="font-size:40px;">Siste Terningkast:</div>
    <div class="panel-body">
    </div>

        <!-- Tabell Panelet -->

     <table class="table table-striped">
        <thead>
            <tr>
                <th>Bok:</th>
                <th>Terningkast:</th>
                <th>Fra:</th>

            </tr>
        </thead>
        <tbody>
        {% for object in object_list_comments %}
            <tr>
                <td><a href="{% url 'stories:detail_book' object.book.id %}">{{ object.book|truncatechars:11 }}</a></td>
                <th>{{ object.dice }}</th>
                <td>{{ object.comment_writer }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>