
<div class="panel panel-default">
    <div class="panel-heading" style="font-size:45px;">Siste Terningkast:</div>
    <div class="panel-body">
    </div>

        <!-- Tabell Panelet -->

     <table class="table table-striped">
        <thead>
            <tr>
                <th>Bok:</th>
                <th>Terningkast:</th>
                <th>Av:</th>

            </tr>
        </thead>
        <tbody>
        {%for object in objects_list_comments %}
            <tr>
                <td>{{ object.book|truncatechars:11 }}</td>
                <th>{{ object.dice }}</th>
                <td>{{ object.comment_writer }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>