body{
    background: grey url("../images/background.jpg");
    padding-top: 70px;
	margin-bottom:30px;
	color:white;
}

.emailinput {
    color:black;
}

.textinput {
    color:black;
}

.textarea {
    color:black;
}


.panel {
    color:black;
}
.navbar{
    border-radius:0;
}

.navbar-brand{
    font-family: 'Tangerine', cursive;
    font-size:40px;
}

.panel-heading{
    font-family: 'Tangerine', cursive;
    font-size:70px;
    text-align:center;
    font-weight: bold;
}