{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'stories/css/style.css' %}" />

{% endblock style %}

{% block body %}

<div class="col-sm-6 col-sm-offset-3">
    <h1>{{ title }}</h1>
    <hr/>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
    <input type = submit class="btn btn-default" value="{{ title }}" />
    </form>
    {% if message %}<br/><br/>
    <a href="{% url 'accounts:register' %}"><button class="btn btn-success">Registrer deg!</button></a>
    {% endif %}

</div>


{% block footer %}
{% endblock footer %}
{% endblock body %}